name: CI

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  ci:
    uses: thenoetrevino/github/.github/workflows/nvim-plugins-ci.yml@main
    secrets: inherit
    with:
      plugin: haunt.nvim
      repo: thenoetrevino/haunt.nvim
